// media queries 

@media (max-width:1200px){

   .header{
      padding:1.5rem 2rem;
   }

   section{
      padding:3rem 2rem;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   .header{

      #menu-btn{
         display: inline-block;
      }

      .navbar{
         position: absolute;
         top:99%; left:0; right:0;
         background: $black;
         border-top: $border;
         border-bottom: $border;
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

         &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
         }

         a{
            display: block;
            margin:2rem;
         }
      }
   }

   .home{

      .cloud-1{
         top:10%;
      }

      .moon{
         width: 20rem;
         z-index: 0;
      }

      .content{

         p{
            font-size: 2rem;
         }

         h3{
            font-size: 3rem;
         }
      }
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}